/* Element selector / type selector / tag selector */
body {
    background-color: rgb(192, 162, 240);
    margin: auto;
    max-width: 500px;
    column-count: 3;
    zoom: 125%;
}

.full-height {
    height: 50%;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

.meme {
    margin: auto;
    width: 100%;
    padding: 10px;
}

/* class selector */
.columns {
    float: left;
    width: 50%;
}
