/* Element selector / type selector / tag selector */
body {
    background-color: rgb(192, 162, 240);
    margin: auto;
    max-width: 500px;
    zoom: 125%;
}

.full-height {
    height: 50%;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

/* class selector which will override the element selector */
.meme {
    margin: auto;
    width: 250px;
    height: 250px;
    padding: 10px;
}
 
.row {
    display: flex;
}

.column {
    flex: 20%;
}

.buttons {
    float: left;
}
